
/*#signup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
}*/

:root{
  --bluHeader-color : #42a1f5;
}

#signup .form-signup{
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
}


#signup .form-signup #form__group{
  display: flex;
  flex-direction: column ;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem;
  width: 40%;
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 2rem;
}
#signup .form-signup #form__group h1{
  font-size: 3rem;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(66,161,245,1) 18%, rgba(165,191,221,1) 89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#signup .form-signup #form__group .box--radio{
  display: flex;
  gap: 4rem;
}

#signup .form-signup #form__group .field  label{
  font-size: 1.20rem;
  text-align: left;
}


#signup .form-signup #form__group .field div  input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  color: white;
  background: #A5BFDD;
  padding: 1rem;
}

#signup .form-signup #form__group .field button{
  padding: 1rem 4rem;
  border-radius: 5px;
}


#signup .form-signup #form__group .field div  input::placeholder{
  color: white;
}



