:root{
    --green-color : #95d5a2;
}

a{
    cursor: pointer;
}

#login  .form-field{
    width: 55% !important;
}


#login #modal--content{
    padding: 6rem !important;
}

.a-connexion{
    font-size: 1rem;
}

#login  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

#login  #form-field  input:focus{
    border-color: var(--green-color);
}

