footer{
    margin-top: 5rem;
}

.footer--nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: medium;
}

.footer--nav > a{
    margin:0 4rem;
    color:black;
    font-size: 1rem;
    text-decoration: underline;
}

.footer--nav > a:hover{
    color: white;
}
.footer--container{
    background-color : #42a1f5;
    padding: 1rem 0;
    text-align: center;
}