:root{
    --green-color : #95d5a2;
}

.header{
    background:var(--green-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box--title{
    display: flex;
    align-items: center;
}

.box--title > h1{
    font-size: 4rem;
}

.navBar > a{
    margin: 0  1rem;
    font-size: 2rem;
    color: black;
    transform: rotate(25deg);
}

.navBar > a:hover{
    color: white;
    transition: all 0.2s;
}

.navBar > a:active{
    text-decoration: underline;
}