#about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.description{
    text-align: center;
    font-size:2 rem;
}
div.header{
    text-align: center;
    background-color: #42A1F5;
}
div.content{
    padding: 0!important;
}
.meta{
   
    
}