#slidebar{
    display: none;
}

.navBarTic{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    height: 100%;
    margin-top: 5rem; 
    text-align: center;
}

.close--header{
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}

#slidebar .navBarTic  a{
    font-size: 2rem;
    line-height: 1.3em;
    color: white;
}


.box--hamburgers{
    width: 30%;
}

@media screen and (max-width: 1200px) {
    #slidebar {
        background: rgba(66, 161, 245, 0.9);
        width: 0px;
        height: 100vh;
        position: fixed;
        overflow: hidden;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        gap: 2rem;
        transition: 1s;
    }
}