#slidebar{
    background: #6396F3;
    width: 0px;
    min-height: 100vh;
    position: fixed;
    overflow: hidden;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: 1s;
    border-left: 4px solid rgb(255, 255, 255);
}

.navBarTic{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9rem;
    margin-top: 5rem;
}

.close{
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}

#slidebar .navBarTic  a{
    font-size: 2rem;
    color: black;
    color: white;
}


.box--hamburgers{
    width: 30%;
}