

#main .article--main{
    width: 100%;
    padding: 1rem  0;  
    text-align: center; 
}

#main .article--main > h2{
    font-size: 2rem;
    font-weight: bold;
}


#main .box-best--actives{
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
}

#main    .box-card{
    display: flex;
    margin-top: 4rem;
    width: 80%;
    box-shadow:11px -9px 13px -3px rgba(0,0,0,0.5),0px 10px 13px -7px #000000;
    padding: 2rem;
    border-radius: 10px;
    background: white;
    cursor: pointer;
}
.div-nav{
    color: black;
}
.div-nav:hover{
    color: black;
}

#main .box-card .article--main{
    display: flex;
    align-items: center;
}

#main .box--img--note{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#main .box--img--note > img{
    margin-bottom: 20px;
    border-radius: 10px;
}


#main .text{
    width: 50%;
    padding: 0 2rem;
}

#main .text > h4{
    font-size: 2rem;
    margin-bottom: 30px;
}
