#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
  }
  
  #main .article--main{
    width: 100%;
    padding: 1rem  0;  
    text-align: center; 
    margin-left: 5rem;
  }
  
  #main .article--main > h2{
    font-size: 2rem;
    font-weight: bold;
  }
  
  
  #main .box-best--actives{
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
  }
  
  #main    .box-card{
    display: flex;
    margin-top: 4rem;
    width: 80%;
    box-shadow:11px -9px 13px -3px rgba(0,0,0,0.5),0px 10px 13px -7px #000000;
    padding: 1rem;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    position: relative;
  }
  .div-nav{
    color: black;
    width: 90%;
  }
  .div-nav:hover{
    color: black;
  }
  
  #main .box--img--note{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-left:7rem ;
  }
  
  
  #main .box--img--note > img{
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
  }
  
  
  #main .text{
    width: 50%;
    padding: 0 2rem;
    font-size: 1.6em;
  }
  
  #main .text > h4{
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  #h2--error{
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
  }
  .box--zom .doubletest{
    display: flex !important;
  }
  .article--button{
    border-radius: 10px;
    background-color: #42A1F5;
    border: none;
    padding:.5rem;
    color: white;
    font-size: .7em;
    
  }

  .body--text{
    color: black;
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 2em;
  }

    .body--title {
      color:black;
      font-size: 2em;
      margin:0;
    }

  @media screen and (max-width:700px){
    #main .box--img--note >img{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: auto;
    }
    #main .box--img--note{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-right: 7rem;
      padding-top: 2rem;
    }
    
    #main .text{

      width: 110%;
      padding: 0 2rem;
      font-size: 1.6em;
    }
    
    #main{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;

    }
    #main .div-nav{
      display: flex;
      flex-direction:column;
      color: black;
      width: 100%;

    }
   
    #main .box-card{
      display: flex;
    margin-top: 4rem;
    width: 90%;
    box-shadow:11px -9px 13px -3px rgba(0,0,0,0.5),0px 10px 13px -7px #000000;
    padding: 1rem;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    position: relative;
    }
    #main .article--main {
      width: 100%;
      display: flex;
      flex-direction: column ;
      align-content:center;
      margin: 0;
    }
   
  }


  @media screen and (max-width:1200px) {
    #main .box--img--note >img{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
    
    }
    #main .box--img--note{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-right: 7rem;
      padding-top: 2rem;
    }
    
    #main .text{

      width: 110%;
      padding: 0 2rem;
      font-size: 1.6em;
    }
    
    #main{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;

    }
    #main .div-nav{
      display: flex;
      flex-direction:column;
      color: black;
      width: 100%;

    }
   
    #main .box-card{
      display: flex;
    margin-top: 4rem;
    width: 90%;
    box-shadow:11px -9px 13px -3px rgba(0,0,0,0.5),0px 10px 13px -7px #000000;
    padding: 1rem;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    position: relative;
    }
    #main .article--main {
      width: 100%;
      display: flex;
      flex-direction: column ;
      align-content:center;
      margin: 0;
    }
   
  }
  
  #slider{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

#slider .box--slider{
    background: #42A1F5;
    padding: 2rem;
    width: 80%;
    text-align: center;
    color: cornsilk;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:11px -9px 13px -3px rgba(0,0,0,0.5),0px 10px 13px -7px #000000;

}

.button-left{
    float: left;
    cursor: pointer;
}

.button-right{
    float: right;
    cursor: pointer;
}

.box--text{
    width: 80%;
}


.box--text > h2{
    font-size: 2rem;
}

.box--text > span{
    font-weight: bold;
}

@media screen and (max-width:700px){
  #slider .box--slider{
    width: 90%;
  }
  
}
@media screen and (max-width:1200px){
  #slider .box--slider{
    width: 90%;
  }
  #main .text >p{
    padding:  0 1.5rem;
  }
  
}