.title{
    text-align: center;
    font-size: 3rem}


.input--email{
width: 300px;
padding: 10px;
margin-bottom: 1em;

}
.input--text{
    padding: 10px;
    width: 300px;
}
.input--submit{
    margin-top: 80px;
    padding: 10px;
    background-color: #42A1F5;
    border-radius: 10px;
}
form{
    grid-gap: 0rem !important;
    gap: 0rem !important;
}
