#profil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    text-align: center;
    margin-top: 2rem;
    width: 100%;
}
.ui.icon.button {
    margin-left: 2rem;
    padding: 5px;
    display: inline ;
}
.pseudo{
    margin-right: 6rem;
}
 .delete--button{
    display: flex;
    justify-content: center;
    
}
.profil--card > .profil--card__info{
    
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow:11px -9px 13px -3px rgba(0,0,0,0.5);   
    margin-bottom: 2rem; 
}
.box--profil{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align:justify;
    /* align-items:center; */
    justify-content: center;
    width: 30%;
}
.profil--card > i {
display: inline;
}
.form-nickname > span{
    width: 80%;
}
.form-nickname{
   
    display: none;}
    
.input--validation{
        display: inline;
        margin-left: 1rem;
    }

@media screen and (max-width:1200px){
        .box--profil{
            width: 100%;
        }
        .profil--card >.profil--card__info{
    
            display: flex;
            justify-content: space-between;
            font-size: 0.9rem;
            background-color: white;
            padding: 2rem;
            border-radius: 10px;
            box-shadow:11px -9px 13px -3px rgba(0,0,0,0.5);
            margin-top: 3rem; 
            margin-left: 5%;
            width: 90%;
        }
        .ui.icon.button {
            margin-left: 0rem;
            padding: 5px;
            display: inline;
        }
        
        .pseudo{
            margin-right: 2rem;
        }
    }
    @media screen and (max-width:700px){
        .box--profil{
            width: 100%;
        }
        .profil--card > .profil--card__info{
    
            display: flex;
            justify-content: space-between;
            font-size: 0.9rem;
            background-color: white;
            padding: 2rem;
            border-radius: 10px;
            box-shadow:11px -9px 13px -3px rgba(0,0,0,0.5);
            margin-top: 3rem; 
            width: 90%;
        }
        .ui.icon.button {
            margin-left: 0rem;
            padding: 5px;
            display: inline;
        }
        .pseudo{
            margin-right: 2rem;
        }
    }
