#profil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    text-align: center;
    margin-top: 2rem;
    width: 100%;
}
.profil--button{
border-radius: 50px;
padding: 5px;
background-color: #89c3f7;
}

.box--profil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 50%;
}
/* .form-nickname{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 2rem;
} */
/* .form-email{
    display:none
} */
