.bazooka {
  color: rgb(253, 253, 253);
  background-color: rgb(99, 150, 243);
  display: flex;
  padding: 2rem;
  text-align: center;
  min-height: 34vh;
  border-radius: 10px;
  margin: 1rem 10%;
  box-shadow: 11px -9px 13px -3px rgba(5, 5, 5, 0.5), 0px 10px 13px -7px rgba(0, 0, 0, 0.5);
}

.bazooka__title {
  font-size: 2.5em;
}

.bazooka__nickname {
  padding-bottom: 2rem;
}

.bazooka__description {
  padding: 1rem 20%;
  font-size: 1.3em;
}