.container{
  display: flex;
  justify-content: center;
}

#form--activity{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  padding-top: 5rem;
}

#form--activity ul{
  background: white;
  width: 60%;
  margin-top: -13px;
  list-style: none;
  text-align: center  ;
  margin-bottom: 2rem;
  display: none;
} 
#form--activity ul li{
  border-bottom: 2px solid #E7E5E5;
  padding: 0.90rem 0;
  cursor: pointer;
}

#form--activity ul li:hover{
  background: #42A1F5;
  color: white;
  transition: 0.5s;
}

div.field{
  width: 60%;
  text-align: center;
}

